* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif  ;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #edf8f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.fname,
.lname,
.regEmail,
.contactNum,
.birth,
.pword,
.cpword,
.termsConditions {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.required {
    color: red;
}


button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
button#clearBtn {
    background-color: #f44336;
}


button#clearBtn:hover {
    background-color: #e31b0c;
} 

#termsContent {
    margin-top: 10px;
}

a {
    color: #007bff;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}